.boton-clear{
    height: 50px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: rgb(255, 114, 74);
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid white;
    cursor: pointer;
    box-shadow: -1px 4px 1px 1px rgb(0, 0, 0);
    border-radius: 45px;
    
}
    
.boton-clear:hover{
    background-color: rgb(132, 120, 135);
    color: rgb(255, 255, 255);
}

