

.App{
    height: 97vh;
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("./img/fondoapp.jpg");
    background-size: cover;
    background-attachment: fixed;
}



.contenedor-calculadora {
    width: 300px;
    height:430px;
    padding: 14px;
    background-color: rgb(87, 2, 58);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    opacity: 100%;
    position: absolute;
    box-shadow: -1px 4px 1px 1px rgb(0, 0, 0);

}

.fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

